#skillPage{
  width: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skillPage>.banner{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #244a7a;
  padding: 0 150px;
}
#skillPage>.banner>p{
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}
#skillPage>.banner>p.title{
  font-size: 30px;
  padding: 20px;
}

#skillPage>.skillContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
}

@media (max-width: 1200px) {
  #skillPage>.skillContainer{
    flex-direction: column;
    align-items: center;
  }
  #skillPage>.banner{
    padding: 0 100px;
  }
}

@media (max-width: 520px) {
  #skillPage>.banner{
    padding: 0 30px;
  }
}