#enchantHeader{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #84A5D1;
  padding: 20px 0;
}
#enchantHeader>.mainBox .nameBox{
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#enchantHeader>.mainBox{
  display: flex;
  flex-direction: column;
  align-items: start;
}

/** searchBox **/
#enchantHeader>.mainBox>.searchBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.inputBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 10px 10px 0;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.inputBox>.category{
  width: 60px;
  height: 30px;
  font-size: 13px;
  margin-right: 10px;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.inputBox>input{
  width: 130px;
  height: 30px;
  padding-left: 5px;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 10px 10px 0;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.searchBtn,
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.resetBtn{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.searchBtn{
  width: 80px;
  margin-right: 10px;
  background-color: #fff;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.searchBtn:active{
  background-color: #c8d6e9;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.resetBtn{
  width: 110px;
  background-color: #AF4040;
  color: #fff;
}
#enchantHeader>.mainBox>.searchBox>.searchInputBox>.buttonBox>.resetBtn:active{
  background-color: #962c2c;
}

/** locationBox **/
#enchantHeader>.mainBox>.locationBox{
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
#enchantHeader>.mainBox>.locationBox>.locationInputBox{
  width: 200px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 10px 10px 0;
}
#enchantHeader>.mainBox>.locationBox>.locationInputBox>label{ 
  margin: 0 10px;
}
#enchantHeader>.mainBox>.locationBox>.locationInputBox>label>input{ 
  margin-right: 3px;
}

/** statusBox **/
#enchantHeader>.mainBox>.statusBox{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#enchantHeader>.mainBox>.statusBox>.statusInputBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#enchantHeader>.mainBox>.statusBox>.statusInputBox>select{
  width: 200px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}
#enchantHeader>.mainBox>.statusBox>.statusInputBox>select>option,
#enchantHeader>.mainBox>.statusBox>.statusInputBox>select>option:disabled{
  text-align: center;
}

/** partBox **/
#enchantHeader>.mainBox>.partBox{
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  overflow: hidden;
}
#enchantHeader>.mainBox>.partBox>.partInputBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#enchantHeader>.mainBox>.partBox>.partInputBox>select{
  width: 200px;
  height: 30px;
  margin: 0 10px 10px 0;
}
#enchantHeader>.mainBox>.partBox>.partInputBox>select>option,
#enchantHeader>.mainBox>.partBox>.partInputBox>select>option:disabled{
  text-align: center;
}

@media (max-width: 520px) {
  #enchantHeader>.mainBox>.searchBox>.searchInputBox,
  #enchantHeader>.mainBox>.statusBox>.statusInputBox,
  #enchantHeader>.mainBox>.partBox>.partInputBox{
    flex-direction: column;
  }
}